.line svg text {
	fill: currentColor;
}

.line svg .tick line,
.line svg .domain {
	stroke: currentColor;
}

.dline {
	stroke: #000;
	stroke-width: 1.5;
}

.dline1 {
	stroke: #1A75B5;
}

.dline2 {
	stroke: #FF7F00;
}

.dline3 {
	stroke: #28A026;
}

.dline4 {
	stroke: #D82A23;
}

.dline5 {
	stroke: #9364BE;
}

.dline6 {
	stroke: #8C574B;
}

.dline7 {
	stroke: #E474C2;
}
