.dline {
	stroke: #000;
	stroke-width: 1.5;
}

.dline1 {
	stroke: #1A75B5;
}

.dline2 {
	stroke: #FF7F00;
}

.dline3 {
	stroke: #28A026;
}

.dline4 {
	stroke: #D82A23;
}

.dline5 {
	stroke: #9364BE;
}

.dline6 {
	stroke: #8C574B;
}

.dline7 {
	stroke: #E474C2;
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  /* IE9+ CSS */
  svg{
		width: 100%;
	}
}
