.area svg text {
	fill: currentColor;
}

.area svg .tick line,
.area svg .domain {
	stroke: currentColor;
}

.asia {
	fill: #1A75B5
}

.africa {
	fill: #FF7F00;
}

.europe {
	fill: #28A026
}

.america {
	fill: #D82A23
}

.oceania {
	fill:  #9364BE;
}
