.asia {
	fill: #1A75B5
}

.africa {
	fill: #FF7F00;
}

.europe {
	fill: #28A026
}

.america {
	fill: #D82A23
}

.oceania {
	fill:  #9364BE;
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  /* IE9+ CSS */
  svg{
		width: 100%;
	}
}
